.main {
    background-color: rgb(33, 34, 34);
    height: 100vh;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.top {
    background-color: black;
    height: 280px;
    color: white;
    padding: 30px;
}

.sec4 {
    display: flex;
    justify-content: space-between;
}

.sec4-title {
    position: relative;
    left: 30px;
    cursor: pointer;
}

.sec4-para {
    position: relative;
    top: 15px;
    cursor: pointer;
}

.artist-img {
    height: 120px;
    width: 130px;
    border-radius: 50%;
    margin: 30px;
    cursor: pointer;
}

.sec5 {
    display: flex;
    justify-content: space-evenly;
}


.artist-para {
    margin-left: 50px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

.ani-para {
    margin-left: 70px;
    cursor: pointer;
    position: relative;
    bottom: 20px;
}

.u1-para {
    margin-left: 30px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

.top2 {
    background-color: black;
    height: 280px;
    color: white;
    padding: 30px;
    margin-top: 20px;
}

.sad-para {
    margin-left: 65px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .responsive {
        display: none;
    }

    .sec4-title {
        font-size: small;
    }

    .sec4-para {

        font-size: small;
        position: relative;
        bottom: 90px;
    }

    .artist-img {
        height: 70px;
        width: 80px;
        border-radius: 50%;
        margin: 30px;
        cursor: pointer;
    }

    .top {
        height: 200px;
    }

    .artist-para {
        position: relative;
        right: 20px;
    }

    .ani-para {
        position: relative;
        right: 20px;
    }

    .sad-para {
        position: relative;
        right: 20px;
    }

    .top2 {
        height: 210px;
    }

}